.cards{
display: flex;
justify-content: space-around;
align-items: center;
gap: 20px;
}

.card{
    width: 250px;
    padding: 20px;
    background: #eee;
}

@media (max-width: 768px){
    .cards{
        flex-direction: column;
    }
}